/* 全てのページに共通するスタイルの設定 */
* {
  box-sizing: border-box;
  user-select: none;
}
html {
  /* デフォルトのフォントサイズを指定
   > 各ページでフォントサイズを変更するときはremで実施 */
  font-size: 16px;
}
body {
  /* backgroundImageの設定 */
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* フォントの設定 */
  color: white;
  font-family: "Press Start 2P";
  /* コンテンツの表示幅の設定 */
}

#portfolio {
  /* 子要素に対して flex を指定 */
  display: flex;
  /* 見た目のサイズを指定 */
  width: 1120px;
  height: 620px;
  margin: 100px auto;
  padding: 60px;
  /* 見た目を定義 */
  background-color: rgba(0, 0, 0, 0.8);
  border: solid white 2px;
}

#menu_frame {
  /* 横幅を指定（flex） */
  flex-grow: 1.3;
  font-size: 1.5rem;
  /* TODO なんか適当にフォント変えてみたが.. */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#pankuzu {
  padding: 0 0 5px 20px;
}

#menu {
  /* メニューのフレームを定義 */
  border: solid white 2px;
  border-radius: 8%;
  /* メニューのサイズを定義 */
  /* TODO このwidth/heightを調整することでメニューサイズを変更できる */
  width: 50%;
  height: 50%;
  /* 子要素に対して flex を指定 */
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
}

/* 「どうぐ」や「そうび」などを開いたときのメニューに適応するスタイル */
#menu_expansion {
  /* メニューのフレームを定義 */
  border: solid white 2px;
  border-radius: 8%;
  /* メニューのサイズを定義 */
  width: 85%;
  height: 95%;
  /* 子要素に対して flex を指定 */
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
}

#menu_item {
  /* ブロック要素の縦幅・横幅は固定（縦: 60px, 横：親の半分->メニューは2列組み） */
  height: 60px;
  padding: 15px 10px; /* paddingを指定することでブロック内の値を上下中央に揃えている */
  width: 50%;
  /* 表示する文字の位置を調整 */
  text-align: center;
  line-height: 1; /* defaultでは1.0, 他のstylesheetでbodyに1.5を指定しており、その影響を相殺するため */
}

#menu_item:hover,
#pankuzu:hover {
  font-weight: bold;
}

#avater_frame {
  /* 横幅を指定（flex） */
  flex-grow: 1;
  /* アバターの画像を設定 */
  background-size: cover;
  background-position: center;
  background-image: url("../img/avater/デフォルトてつや.png");
  /* 子要素に対する相対位置を定義 */
  position: relative;
}

#chat {
  /* チャットボックスの位置を指定 */
  position: absolute;
  bottom: -20px;
  right: -20px;
  /* チャットボックスのサイズを指定 */
  width: 400px;
  /* チャットボックスの見た目を定義 */
  background-color: rgba(0, 0, 0, 0.9);
}

footer {
  text-align: center;
  font-size: 0.9rem;
  background-color: rgba(44, 38, 38, 0.5);
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
}
