body {
  background-color: black;
  /* background: url(../img/名古屋城.png) no-repeat fixed; */
  background: url(../img/サンシャイン栄.png) no-repeat fixed;
  background-size: cover;
  background-position: center;
}

html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P";
}
